.container_left > img {
  max-height: 200px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  padding: 20px;
  transition: transform 800ms;
  box-shadow: 5px 10px 8px #888888;
}

.container:hover {
  transform: scale(1.08);
  opacity: 1;
}

.container_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.checkoutproduct {
  width: 50%;
  margin-top: 20px;
}

.remove_button {
  margin-right: 30px;
  border: 1px solid white;
  margin-top: 10px;
  color: #111;
  margin-bottom: 20px;
  transition: 0.5s;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  font-weight: 600;
}

.remove_button:hover {
  background-color: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
}

.checkout_Title {
  font-weight: 600;
}
